<div class="pusher">
  <div class="ui inverted vertical masthead aligned segment">
    <div class="ui text container entry">
      <h4 class="ui horizontal header divider"></h4>
      <h1 class="ui inverted header-h1-title">Techbook</h1>
      <h3><i class="share alternate icon"></i> Techbook allows people from the tech industry to connect with others</h3>
      <h3><i class="user plus icon"></i> Gives recruiters the ability to connect and interact with people</h3>
      <h3><i class="user graduate icon"></i> Enables students to improve their work</h3>
      <a href="/search">
        <div class="ui animated fade button yellow" tabindex="0">
            <div class="visible content">Connect with people</div>
                <div class="hidden content">Search for users</div>
            </div>
        </div>
      </a>
      <h4 class="ui horizontal header divider"></h4>
    </div>
</div>
<h4 class="ui horizontal header divider"></h4>
<div class="ui vertical stripe segment segment1">
    <div class="ui middle aligned stackable grid container">
    <div class="row">
    <div class="eight wide column">
        <h3 class="ui header inverted black text">We Help Developers Find Jobs</h3>
        <p>Build your profile, add an about me section and insert your tools. 
            These are very important when potential recruiters are looking for you. 
            Dont forget to add your portfolio link as well!</p>
        <h3 class="ui header inverted black text">We Help Recruiters Find Developers</h3>
        <p>Yes that's right, head over to the search section to look for the ideal candidate, or simply browse main projects and catch the developer!</p>
    </div>
    <div class="six wide right floated column">
        <img src="/images/techbook-logo.PNG" class="ui large bordered rounded image">
    </div>
    </div>
</div>
<h4 class="ui horizontal header divider"></h4>
<div class="ui vertical stripe quote segment">
    <div class="ui equal width stackable internally celled grid">
        <div class="center aligned row">
        <div class="column">
            <h3 class="reviewtext" id="text1"></h3>
            <p><b>Alexandra</b> Human Resources</p>
        </div>
        <div class="column">
            <h3 class="reviewtext" id="text2"></h3>
            <p><b>Steven</b> Recruiter</p>
        </div>
        </div>
    </div>
</div>

<h4 class="ui horizontal header divider"></h4>
<div class="ui vertical stripe segment">
    <div class="ui text container">
        <h3 class="ui header text blue">We Noticed Portfolio's Matter a Lot</h3>
        <p>Especially in this industry, people who are self taught know the importance of a portfolio, it is the first thing employers look at. 
            We decided to add developer portfolio links to their profile! This way portential empoloyers will navigate through your work in just one stop!</p>
            <p>Here is some more information about building impressive protfolios.</p>
        <a class="ui medium button" href="https://medium.com/bridge-collection/5-dos-and-don-ts-for-your-design-portfolio-80292583ace1">Read More</a>
        <h4 class="ui horizontal header divider"><p><i class="thumbs up icon"></i>Better Profile</p></h4>
        <h3 class="ui header text blue">Importance of Social Presence</h3>
        <p>According to another survey conducted by <b>Harris Poll</b> on behalf of CareerBuilder, 70% of employers check the social media profiles of candidates, with 57% being less likely to interview a candidate with no online presence and 54% failing to hire a candidate because of the candidate’s social media profiles.</p>
        <a class="ui medium button" href="https://www.cleverism.com/job-seekers-social-media-is-even-more-important-than-you-thought/">Learn More</a>
        <h4 class="ui horizontal header divider"></h4>
    </div>
</div>
<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="column">
            <h3 class="ui header text yellow"><p>Your Main Project Will Appear at the Homepage!</p></h3>
            <p>Select your main project from your profile, it can be any of your current repositories posted on your github account.</p>
        </div>
        </div>
    </div>
</div>
<h4 class="ui horizontal header divider"></h4>
<h4 class="ui horizontal header divider"><p><i class="project diagram icon"></i>Main Projects</p></h4>
<h4 class="ui horizontal header divider"></h4>
<div class="main-project-container">
    <div class="ui container grid">
        <div class="ui cards">
            {{#each mainprojects}}
            <div class=" ui card yellow">
                <div class="content">
                    <a href="{{usermainproject}}" class="header"><i class="gem outline icon"></i>  {{mainprojectname}}
                        <span class="right floated">
                            <img class="ui avatar image" src="/avatars/{{avatar}}.png">
                        </span>
                    </a>
                    <div class="meta">
                        <span class="category">{{github}}</span>
                    </div>
                    <div class="description">
                        <a id="user-profile" href="/profile/{{id}}"><i class="user circle outline icon"></i>{{firstname}} {{lastname}}</a>
                        <div class="right floated">
                            <span class="ui yellow text" >{{experience}}</span>
                        </div>
                    </div>
                </div>
                <div class="extra content">
                    <div class="right floated author">
                        <p class="user-badge-home"> <i class="star icon"></i>{{stars}}</p>
                    </div>
                    <div class="left floated author">
                        <i class="location arrow icon"></i>
                        {{country}} / {{city}}
                    </div>
                    <small id="user-id">{{id}}</small>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>
{{#if firstLog}}
<div class="ui basic modal">
  <div class="ui icon header">
    <i class="user icon"></i>
    Hello There!
  </div>
  <div class="content">
    <p>We see that you created an account with us!<br>
    Before browsing new oppurtunities, don't forget to fill in your profile and select your main project.<br>
    This is essential on becoming employer competitive.<br>
    If any questions or issus, please contact us at <b>www.techbook.me@gmail.com</b></p>
  </div>
  <div class="actions">
    <div class="ui green ok inverted button">
      <i class="checkmark icon"></i>
      Ok
    </div>
  </div>
</div>
{{/if}}

<script src="/js/home.js"></script>
