<div class="content">
    <button class="get-repos-button" type="click">get repos</button>
    <h2 class="fullname">{{user.firstname}} {{user.lastname}}</h2>
    <h3>{{user.city}}/{{user.country}}</h3>
    <p><a href="https://github.com/{{user.github}}" target="_blank" class="repo_search">Github</a></p>
    <p><a href="https://www.linkedin.com/in/{{user.linkedin}}" target="_blank">Linkedin</a></p>
    <h3>About me:</h3>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere natus similique itaque dolor aut hic!</p>
    <h4>Tools:</h4>
    <h4>My repositories for <span id="username">{{user.github}}</span></h4>
    <main class="flex-row justify-space-between">
        <div class="col-12 col-md-8">
            <h2 class="subtitle">Showing Repositories for:</h2>
            <div id="repos-container" class="list-group"></div>
        </div>
    </main>

    </div>
</div>

<script src="./js/profile.js"></script>