<div class="reference-avatar">
<small>avatars from: <b>flaticon.com</b></small>
</div>

<div class="content">
    <div class="entry">
        <div class="user-background">
            <img class="ui centered medium circular image" src="/avatars/{{user.avatar}}.png">
            <h2 class="fullname">{{user.firstname}} {{user.lastname}}<div class="ui label userbadge text white">{{user.experience}}</div></h2>
            <small class="location">{{user.city}} / {{user.country}}</small>
        </div>
    </div>
    <div class="three ui buttons">
        <button class="ui button blue inverted"><a href="https://www.linkedin.com/in/{{user.linkedin}}" target="_blank">
        <i class="linkedin icon"></i>Linkedin</a></button>
        <button class="ui button blue inverted"><a id="usergithub" href="https://github.com/{{user.github}}" target="_blank">
        <i class="github icon"></i>Github</a></button>
        <button class="ui button blue inverted"><a href="{{userprofile.portfolio}}" target="_blank">
        <i class="address card outline icon"></i>Portfolio</a></button>
    </div>
    <div class="ui container center aligned">
        <h4 class="ui horizontal header divider" id="divider"><p>Tools | Languages | Frameworks</p></h4>
        <div class="ui message" id="night-tech">
            {{#each usertechname}}
            <div class="ui violet label">{{name}}</div>
            {{/each}}
        </div>
    </div>
    <div id="about-me-div">
        <div class="ui vertical stripe segment">
            <div class="ui text container">
                <h4 class="ui horizontal header divider"><p>About me</p></h4>
                <p>{{userprofile.aboutme}}</p>
            </div>
        </div>
    </div>
    {{#if userprofile.aboutme}}
    {{else}}
    <p id="aboutme-toast">1</p>
    {{/if}}
    {{#if userprofile.portfolio}}
    {{else}}
    <p id="portfolio-toast">1</p>
    {{/if}}
    {{#if userprofile.mainproject}}
    {{else}}
    <p id="mainproject-toast">1</p>
    {{/if}}
    {{!--  --}}
    <div class="ui animated fade button blue fluid edit-profile-button" tabindex="0">
        <div class="visible content">Edit Profile</div>
        <div class="hidden content"><i class="edit icon"></i></div>
    </div>
    {{!--  --}}
    <div class="ui modal">
        <a href="/profile" class="close icon"><i class="close icon" ></i></a>
        
        <div class="header">
            <i class="user icon"></i>Edit Your Profile
        </div>
        <div class="content">
            <div class="description">
            <div class="ui form">
            <div class="four fields">
                <div class="field">
                    <label>First name</label>
                    <input type="text" placeholder="{{user.firstname}}" id="first-name-input">
                    <button class="fluid green ui button" id="first-name-button"><i class="edit icon"></i>Update First name</button>
                </div>
                <div class="field">
                    <label>Last name</label>
                    <input type="text" placeholder="{{user.lastname}}" id="last-name-input">
                    <button class="fluid green ui button" id="last-name-button"><i class="edit icon"></i>Update Last name</button>
                </div>
                <div class="field">
                    <label>City</label>
                    <input type="text" placeholder="{{user.city}}" id="city-input">
                    <button class="fluid green ui button" id="city-button"><i class="edit icon"></i>Update City</button>
                </div>
                <div class="field">
                    <label>Country</label>
                    <input type="text" placeholder="{{user.country}}" id="country-input">
                    <button class="fluid green ui button" id="country-button"><i class="edit icon"></i>Update Country</button>
                </div>
                </div>
                    <div class="three fields">
                <div class="field">
                    <label>Email Address</label>
                    <input type="text" placeholder="{{user.email}}" id="email-input">
                    <button class="fluid green ui button" id="email-button"><i class="edit icon"></i>Update Email</button>
                </div>
                <div class="field">
                    <label>Linkedin Username</label>
                    <input type="text" placeholder="{{user.linkedin}}" id="linkedin-input">
                    <button class="fluid green ui button" id="linkedin-button"><i class="edit icon"></i>Update Linkedin</button>
                </div>
                <div class="field">
                    <label>Github Username</label>
                    <input type="text" placeholder="{{user.github}}" id="github-input">
                    <button class="fluid green ui button" id="github-button"><i class="edit icon"></i>Update Github</button>
                </div>
            </div>
        </div>
        <h4 class="ui horizontal header divider"></h4>
        <div class="ui form">
            <div class="three fields">
                <div class="field">
                    <label>Add Portfolio</label>
                    <div class="ui labeled input">
                        <div class="ui label">http://</div>
                        <input type="text" id="portfolio-input" placeholder="{{userprofile.portfolio}}">
                    </div>
                    <div class="ui green ok fluid button" id="portfolio-button">
                        <i class="add icon"></i>Add Portfolio
                    </div>
                </div>
                <div class="field">
                    <label>Select Main Project</label>
                    <select class="ui selection dropdown" id="myRepos">
                    </select>
                    <div class="ui green ok fluid button" id="main-project-button">
                        <i class="hand pointer icon"></i>Select Project
                    </div>
                </div>
                <div class="field">
                    <label>Select Avatar</label>
                    <div class="ui fluid selection dropdown">
                        <input type="hidden" name="user" id="avatar-input">
                        <i class="dropdown icon"></i>
                        <div class="default text" id="avatar-input-div">Choose your avatar</div>
                        <div class="menu" id="data-menu">
                            <div class="item" data-value="Aang"> <img class="ui mini avatar image" src="/avatars/Aang.png">Aang</div>
                            <div class="item" data-value="Hakoda"><img class="ui mini avatar image" src="/avatars/Hakoda.png">Hakoda</div>
                            <div class="item" data-value="Iroh"><img class="ui mini avatar image" src="/avatars/Iroh.png">Iroh</div>
                            <div class="item" data-value="Katara"><img class="ui mini avatar image" src="/avatars/Katara.png">Katara</div>
                            <div class="item" data-value="Zhao"><img class="ui mini avatar image" src="/avatars/Zhao.png">Zhao</div>
                            <div class="item" data-value="Suki"><img class="ui mini avatar image" src="/avatars/Suki.png">Suki</div>
                            <div class="item" data-value="Ozai"><img class="ui mini avatar image" src="/avatars/Ozai.png">Ozai</div>
                            <div class="item" data-value="Sokka"><img class="ui mini avatar image" src="/avatars/Sokka.png">Sokka</div>
                            <div class="item" data-value="Zuko"><img class="ui mini avatar image" src="/avatars/Zuko.png">Zuko</div>
                        </div>
                        </div>
                    <div class="ui green ok fluid button" id="avatar-button">
                        <i class="user icon"></i>Select Avatar
                    </div>
                </div>
            </div>
        </div>
        <div class="ui form">
            <div class="field fluid">
                <label>About me</label>
                <textarea id="about-me" rows="2" placeholder="{{userprofile.aboutme}}"></textarea>
                <div class="ui fluid green ok fluid button" id="about-me-button">
                    <i class="edit icon"></i>Add About me
                </div>
            </div>
        </div>
        <h4 class="ui horizontal header divider"></h4>
        <div class="ui form">
            <div class="fields">
                <div class="eight wide field">
                    <label>Add Technology</label>
                    <select class="ui dropdown" id="techs">
                        {{#each technames}}
                        <option>{{techname}}</option>
                        {{/each}}
                    </select>
                    <div class="ui green ok fluid button" id="add-tech-button">
                    <i class="add icon"></i>Add Technology</div>
                </div>
                <div class=" eight wide field">
                    <label>Couldn't find the technology to add? <span> Add one!</span></label>
                    <div class="ui input">
                        <input type="text" id="tech-input" placeholder="something new...">
                    </div>
                    <div class="ui green ok fluid button" id="insert-tech-button">
                        <i class="add icon"></i>Add New Technology
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
<div id="aboutme-container">
    <div class="ui icon message green">
        <i class="inbox icon"></i>
        <div class="content">
            <div class="header">Current Main Project:
                <a href="https://github.com/{{user.github}}/{{userprofile.mainproject}}" target="_blank"><span>{{userprofile.mainproject}}</span></a>
            </div>
        </div>
        <small><span id="username">{{user.github}}</span></small>
        </div>
    </div>
</div>
    <div class="ui grid repo-container">
        <div class="ui cards users-container">

        </div>
    </div>
    <div class="footer-padding2"></div>
<script src="/js/profile.js"></script>

