<div class="reference-avatar">
<small>avatars from: <b>flaticon.com</b></small>
</div>

<div class="content">
    <div class="entry">
        <div class="user-background">
            <img class="ui centered medium circular image" src="/avatars/{{user.avatar}}.png">
            <h2 class="fullname">{{user.firstname}} {{user.lastname}}<div class="ui label userbadge">{{user.experience}}</div></h2>
            <small class="location">{{user.city}} / {{user.country}}</small>
        </div>
    </div>
    <div class="three ui buttons">
        <button class="ui button blue inverted"><a href="https://www.linkedin.com/in/{{user.linkedin}}" target="_blank">
        <i class="linkedin icon"></i>Linkedin</a></button>
        <button class="ui button blue inverted"><a id="usergithub" href="https://github.com/{{user.github}}" target="_blank">
        <i class="github icon"></i>Github</a></button>
        <button class="ui button blue inverted"><a href="{{userprofile.portfolio}}" target="_blank">
        <i class="address card outline icon"></i>Portfolio</a></button>
    </div>
    <div class="ui container center aligned">
        <h4 class="ui horizontal header divider" id="divider"><p>Tools | Languages | Framworks</p></h4>
        <div class="ui message" id="night-tech">
            {{#each usertechname}}
            <div class="ui violet label">{{name}}</div>
            {{/each}}
        </div>
    </div>
    <div id="about-me-div">
        <div class="ui vertical stripe segment">
            <div class="ui text container">
                <h4 class="ui horizontal header divider"><p>About me</p></h4>
                <p>{{userprofile.aboutme}}</p>
            </div>
        </div>
    </div>
<div id="aboutme-container">
    <div class="ui icon message green">
        <i class="inbox icon"></i>
        <div class="content">
            <div class="header">Current Main Project:
                <a href="https://github.com/{{user.github}}/{{userprofile.mainproject}}" target="_blank"><span>{{userprofile.mainproject}}</span></a>
            </div>
        </div>
        <small><span id="username">{{user.github}}</span></small>
        </div>
    </div>
</div>
    <div class="ui grid repo-container">
        <div class="ui cards users-container">

        </div>
    </div>
    <h4 class="ui horizontal header divider"></h4>
    <h4 class="ui horizontal header divider"><p><i class="envelope icon"></i>Contact Me</p></h4>
    <div class="ui text container center aligned">
        <a href="mailto:{{user.email}}">{{user.email}}</a>
    </div>
    <div class="footer-padding2"></div>
<script src="/js/userprofile.js"></script>

